/* .navigation-1{
    display: inline;
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 4px;
    color: #404040;
    border-left: 1px solid;
    
} 

#menuList a{
    color: #404040;
}

li a{
    color: #404040;
}

.navigation-1:hover{
    border-bottom: blue 5px solid;
} */

body{
    font-family: Arial,Helvetica,freesans,sans-serif;
    max-width: 100%;
    margin: auto;
}


.base-list{
    background: white;
    border-bottom: #ccc;
    font-size: 16px;
    font-weight: 700;
    padding-right: 270px;
    padding-left: 270px;
}

.base-list ul{
    list-style: none;
    background: white;
    padding-bottom: 12px;
    margin-block-end: 1px;
}

.base-list ul li{
    display: inline;
}

.base-list ul li a{
    color: #333333;
    text-decoration: none;
    padding: 12px;
    border-left: 1px solid #ccc;
}


.banner{
    background-color: #bb1919;
}

.banner3{
    margin-left: 318px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.banner3 a img{
    margin-top: 0px;
    width: 122px;
    height: 30px;
}

.navigation{
    background-color: #a91717;
    border-color: #a91717;
    border-top: 1px solid #a91717;
    border-bottom: 1px solid  #a91717;
    padding-left: 270px;
}

.navigation ul{
    margin-block-start: 8px;
    margin-block-end: 7px;
}

.navigation ul li{
    display: inline;
}

.navigation ul li a{
    padding-left: 8px;
    color: #ffffff;
    text-decoration: none;
    padding-right: 12px;
    border-right: 1px solid #bb4545;
}

.navigation ul li a:hover{
    padding-bottom: 5px;
    border-bottom: 4px solid #ffffff;
}

article{
    margin-left: 315px;
    margin-right: 600px;
    margin-top: 8px;
}


h1{
    font-size: 32px;
    color: #1e1e1e;
    font-weight: bold;
}

.title-container{
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 3px solid #bb1919;
}

.title-container a{
    color: #222222;
    text-decoration: none;
}

small{
    color: #5a5a5a;
}

.a-us{
    text-decoration: none;
    color:#222;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right:  1px solid #dbdbdb;
    font-size: 13px;
}

.a-us:hover{
    background-color:rgb(16, 97, 159);
    color: white;
}

#footer-video{
    padding: 16px;
    color: #ececec;
    background-color: black;
    font-size: 13px;
}

.introduction{
    margin-top: 28px;
    color: #404040;
    font-weight: bold;
}

p{
    margin-top: 23px;
    color: #404040;
}

.ul-story{
    margin-top: 18px;
    list-style: none;
}

.li-story{
    margin-top: 18px;
    list-style: square outside;
}

.a-story{
    text-decoration: none;
    border-bottom: 1px solid #dcdcdc;
    color: #222;
    font-weight: bold;
}

.a-story:hover{
    color: rgb(17, 103, 168);
}

h2{
    margin-top: 32px;
}

img{
    margin-top: 24px;
}

#related-topics{
    /* display: inline-block; */
    list-style: none;
}

#related-topics li{
    display: inline;
}

#related-topics li a{
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
}

#a-h2{
    color: #404040;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
}

.more-story{
    margin-top: 40px;
    border-top: 8px solid #dcdcdc;
    padding-top: 8px;
    padding-bottom: 8px;
}

.more-title{
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0px;
}

.more-h2{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
    color: #404040;;
}

.ul-more{
    list-style: none;
    padding-left: 0px;
}

.li-more{
    list-style: none;
    display: list-item;
    padding-top: 17px;
}

.a-more{
    text-decoration: none;
}

.a-div-title{
    color: #404040;
    font-weight: 700;
    margin-bottom: 4px;
}

.a-div-title:hover{
    color: rgb(17, 103, 168);
}

.a-div-date{
    padding-bottom: 4px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 200;
    color: #222;
}


